<div id="title">
  <h1> {{title}} </h1>
  <h2>{{subtitle}}</h2>
  <p>{{web}}</p>
</div>

<article class="about">
  <h2>Sobre mi</h2>
  <p>
    Είπε, κι εμάς μάς έκοψε μεμιάς τα ήπατά μας το μουγκρητό του το βαρύ κι η όψη η γιγαντένια. Όμως του απολογήθηκα κι αυτά τα λόγια του είπα· Από την Τροία ερχόμαστε, Αχαιοί που μύριοι ανέμοι μάς πέταξαν στης θάλασσας τα τρίσβαθα τα πλάτια. Πατρίδα θέλαμε, κι αλλού μάς φέραν άλλοι δρόμοι· τέτοιο του Δία στάθηκε το θέλημα κι η γνώμη. Και λέμε απ' του Αγαμέμνονα του γιού του Ατρέα τ' ασκέρι πως είμαστε, που ακούστηκε στα πέρατα του κόσμου μεγάλη χώρα παίρνοντας, πλήθος λαό χαλνώντας.
  </p>
</article>
